@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700");
body {
  font-family: 'News Cycle', sans-serif;
  background-color: #e0e2db;
  color: #353535;
  margin: 0; }
  body header {
    display: flex;
    width: calc(100% - 40px);
    margin: 0 20px; }
    body header #hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body header #hamburger span {
        display: block;
        width: 45px;
        height: 5px;
        background-color: #353535;
        margin: 3px 0; }
    body header h1 {
      margin: 0;
      padding-left: 15px; }
  body #optionContainer {
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: calc(100% - 30px);
    align-items: center;
    padding: 0 15px; }
    body #optionContainer .homeOption {
      width: calc(50% - 10px);
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: red;
      margin: 0 5px; }
